src/main/resources/commands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vasilevskij.by/commands"
	xmlns:tns="http://www.vasilevskij.by/commands" elementFormDefault="qualified">

	<element name="commands">
		<complexType>
			<sequence>
				<element name="command" minOccurs="1" maxOccurs="unbounded">
					<complexType>
						<attribute name="method" type="string" use = "required" />
						<attribute name="url" type="string" use = "required"/>
						<attribute name="class" type="string" use = "required"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>


</schema>